# Flags
NEXT_PUBLIC_DEMO=true

# Public (cliente)
NEXT_PUBLIC_APPSYNC_HTTP=https://your-api-id.appsync-api.region.amazonaws.com/graphql
NEXT_PUBLIC_APPSYNC_WSS=wss://your-api-id.appsync-realtime-api.region.amazonaws.com/graphql
NEXT_PUBLIC_COGNITO_USER_POOL_ID=region_xxxxxxxxx
NEXT_PUBLIC_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_COGNITO_REGION=us-east-1

# Server (si usamos API Routes/server actions)
APPSYNC_API_KEY=da2-xxxxxxxxxxxxxxxxxxxxxxxxxx